  <div class="resume-item sample" name="<%= sample.name %>">
    <h3><%= sample.name %></h3>
    <% if sample.platform && !sample.platform.empty?%>
    <aside class="platform"><strong>Platform:</strong> <%= sample.platform %></aside>
    <% end %>
    <% if sample.source_url && !sample.source_url.empty?%>
    <aside class="source_url"><strong>Source:</strong> <a href="<%= sample.source_url %>"><%= sample.source_url %></a></aside>
    <% end %>
    <div class="description"><%=raw markdown(sample.description) %></div>
  </div>
